
<div class="show-bill-container">
  <section class="show-bill-content">
    <h2><%= @bill.title %></h2>
    <p><%= @bill.bill_number %></p>
    <p>Short Title: <%= @bill.short_title %></p>
    <p>Latest Action: <%= @bill.latest_action_text %></p>

    <p>Last Viewed: <%=@view %></p>

  </section>
</div>


