<!DOCTYPE html>
<html>
<head>
  <title>PolicyApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_pack_tag "application", defer: true %>
</head>

<body>

<%= render "layouts/top_nav_bar" %>


<div class="container">

  <%= render "layouts/side_navigation_html" %>

  <div class="content">
    <%= yield %>
  </div>

</div>

</body>
</html>